<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}"media="screen" title="no title"  charset="utf-8">
        <title>Appointments</title>
    </head>
    <body>
        <div id="wrapper">
            <div id ="appointments-top">
                <h1> Hello, {{request.session.name}}!<h1>
                <a href="/logout">Logout</a>
            </div>
            </header>
            <div id="today-tasks">
                <h3>Here are your appointments for today, {% now "F jS, Y" %} </h3>
                <table style="width:90%">
                    <tr>
                        <th>Tasks</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    {% for task in today_tasks %}
                    <tr>
                        <td>{{task.task_name}}</td>
                        <td>{{task.task_time}}</td>
                        <td>{{task.task_status}}</td>
                        <td>
                            <form id="edit" action="appointments/{{task.id}}" method="get">
                            {% csrf_token %}
                            <button class="button" type="submit" name="edit" id="button-edit">Edit</button>
                            </form>
                            <form id="remove" action="remove/{{task.id}}" method="post">
                            {% csrf_token %}
                            <button class="button" type="submit" name="remove" id="button-remove">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div id ="other-tasks">
                <h3>Your other appointments:</h3>
                <table style="width:70%">
                    <tr>
                        <th>Tasks</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                    {% for task in other_tasks %}
                    <tr>
                        <td>{{task.task_name}}</td>
                        <td>{{task.task_date}}</td>
                        <td>{{task.task_time}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="add-appt">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                <h3>Add Appointment</h3>
                <form action="/addtask" method="post">
                    {% csrf_token %}
                    <p>Date: <input type="date" name="task_date"></p>
                    <p>Time: <input type="time" name="task_time"></p>
                    <p>Tasks: <input type="text" name="task_name"></p>
                    <input type="submit" value="Add" id="add-task" class="button">
                </form>
            </div>
    </body>
</html>
